<div class="demo-rich-editor-wrapper" style="position: relative;">

    <slate-editable-2
        class="demo-slate-angular-editor"
        [editor]="editor"
        [(ngModel)]="value"
        (ngModelChange)="valueChange($event)"
        [renderElement]="renderElement"
        [onKeydown]="onKeydown"
    ></slate-editable-2>

    <ng-template
        #mention
        let-context="context"
        let-viewContext="viewContext"
    >
        <span
            slateElement
            [context]="context"
            [viewContext]="viewContext"
            class="demo-mention-view"
            [class.focus]="context.selection"
        >
            @{{context.element.character}}
        </span>
    </ng-template>

    <div #suggestionList class="demo-mention-suggestion-list">
        <div
            *ngFor="let item of suggestions; let i = index"
            [class.active]="i === activeIndex"
            (mousedown)="mousedown($event, item)"
        >
            {{ item }}
        </div>
    </div>

</div>